.container {
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgba(255,0,0,0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.5);
}

.deaths{
    border-bottom: 10px solid rgba(10,0,0,0.5);
}

.infectedText{
    color: rgba(255,0,0,1) !important;
    border-bottom: 1px solid grey;
}

.recoveredText{
    color: rgba(100,200,100,1) !important;
    border-bottom: 1px solid grey;
}

.deathsText{
    color: rgba(10,0,0,1) !important;
    border-bottom: 1px solid grey;
}